<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/register.css" />
    <link rel="stylesheet" href="/static/css/popup.css" />
    <script href="/static/scripts/server.js"></script>

    <!-- mdb bootstrap -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <section
      class="vh-100 bg-image"
      style="
        background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
      "
    >
      <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
              <div class="card" style="border-radius: 15px">
                <div class="card-body p-5">
                  <h2 class="text-uppercase text-center mb-5">
                    <img src="/static/images/sign up.png" alt="sign up" />
                    SentiLyzer
                  </h2>

                  <form>
                    <div
                      id="email-alert"
                      class="alert alert-danger"
                      role="alert"
                    ></div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="email"
                        >Your Email</label
                      >

                      <input
                        type="email"
                        id="email"
                        class="form-control form-control-lg"
                        value=""
                      />
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="password"
                        >Password</label
                      >
                      <input
                        type="password"
                        id="password"
                        class="form-control form-control-lg"
                        value=""
                      />
                    </div>

                    <div class="form-check d-flex justify-content-center mb-5">
                      <input
                        class="form-check-input me-2"
                        type="checkbox"
                        value=""
                        id="form2Example3cg"
                      />
                      <label class="form-check-label" for="form2Example3g">
                        I agree all statements in
                        <a href="#!" class="text-body"
                          ><u>Terms of service</u></a
                        >
                      </label>
                    </div>

                    <div class="d-flex justify-content-center">
                      <button
                        id="register-form"
                        type="button"
                        class="
                          btn btn-success btn-block btn-lg
                          gradient-custom-4
                          text-body
                        "
                      >
                        Register
                      </button>
                    </div>

                    <p class="text-center text-muted mt-5 mb-0">
                      Have already an account?
                      <a href="/" class="fw-bold text-body"
                        ><u>Login here</u></a
                      >
                    </p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script>
      // Register

      document.getElementById("email-alert").style.display = "none";
      document.getElementById("register-form").addEventListener("click", () => {
        const email=document.getElementById('email').value
        const password=document.getElementById('password').value

   
        var xhr = new XMLHttpRequest();
        xhr.open("POST", 'http://localhost:8000/register_user', true);
        xhr.setRequestHeader(
          "Content-Type",
          "application/x-www-form-urlencoded"
        );
        xhr.onreadystatechange = function (response) {
          if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
            let response = JSON.parse(xhr.responseText);
            if (response['exists'] == 'False')
            {
              document.getElementById('email-alert').innerHTML='Registered!'
              document.getElementById('email-alert').style.display='block'

            }
            else if(response['exists'] == 'Error')
            {
              document.getElementById('email-alert').innerHTML='Some error occurred!'
              document.getElementById('email-alert').style.display='block'
            }
            else
            {
              document.getElementById('email-alert').innerHTML='User already exists!'
              document.getElementById('email-alert').style.display='block'
            }
          }
        };
        xhr.send(`email=${email}&password=${password}`);
      });
    </script>
  </body>
</html>
